<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DegreeOfPheromone" value="25" />
    <add key="DegreeOfDistance" value="1" />
    <add key="PheromonCountOfOneAnt" value="1000" />
    <add key="CountOfAnt" value="1000" />
    <add key="MemoryCount" value="1" />
    <add key="FileName" value="Switzerland"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>